@model LayoutViewModel
@using UCS.Web.ViewModels
@using UCS.Web.Models

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>System do komunikacji ze studentami</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <header>
        <div class="container body-content">
            <h2 onclick="document.location ='@Url.Action("Index","Home")';">
                System do komunikacji ze studentami
            </h2>
            @if (Model.UserName != null)
            {
                <p>
                    <b class="pull-right">@Model.UserName</b>
                </p>
            }
        </div>
    </header>

    <div class="container body-content">
        @if (Session[Configuration.Information] != null)
        {
            <div class="row">
                <div class="col-sm-12 information-box">
                    @Session[Configuration.Information]
                </div>
            </div>
            Session[Configuration.Information] = null;
        }
        @RenderBody()
    </div>

    <script src="~/Scripts/jquery-1.12.4.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>