@model ChangePasswordViewModel
@using UCS.Web.ViewModels

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    if (Model.HasError)
    {
        <div class="row">
            <div class="col-sm-6 col-xs-12 validation-box">
                @Html.ValidationSummary()
            </div>
        </div>
    }
    <div class="row">
        <div class="col-sm-6 col-xs-12 blue-box">
            <div class="col-sm-12">
                @Html.PasswordFor(p => p.OldPassword, new { @placeholder = "Podaj aktualne hasło..." })
            </div>
            <div class="col-sm-12">
                @Html.PasswordFor(p => p.NewPassword, new { @placeholder = "Podaj nowe hasło..." })
            </div>
            <div class="col-sm-12">
                @Html.PasswordFor(p => p.ConfirmNewPassword, new { @placeholder = "Potwierdź nowe hasło..." })
            </div>
            <div class="col-sm-6 col-sm-offset-6">
                <input type="submit" class="btn btn-block" value="Zmień hasło" />
            </div>
        </div>
    </div>
}