@model MessagesViewModel
@using UCS.Web.ViewModels

<div class="row">
    <div class="col-sm-12 table-box">
        <table class="table table-responsive">
            <thead>
                <tr class="text-center">
                    <th>Temat</th>
                    <th>Treść</th>
                    <th>Data dodania</th>
                    <th>Użytkownik</th>
                </tr>
            </thead>
            <tbody>
                @foreach (MessageViewModel message in Model.Messages)
                {
                    <tr>
                        <td>@message.Title</td>
                        <td>@message.Content</td>
                        <td>@message.AddedAt</td>
                        <td>@message.AddedBy</td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="btn-group">
            @if (Model.PageCount <= 5)
            {
                for (int i = 1; i <= Model.PageCount; i++)
                {
                    if (i == Model.CurrentPage)
                    {
                        <a href="@Url.Action("Index", "Message", new { page = @i })" class="btn btn-default disabled">@i</a>
                    }
                    else
                    {
                        <a href="@Url.Action("Index", "Message", new { page = @i })" class="btn btn-default">@i</a>
                    }
                }
            }
            else
            {
                for (int i = 1; i <= 5; i++)
                {
                    if (i == Model.CurrentPage)
                    {
                        <a href="@Url.Action("Index", "Message", new { page = @i })" class="btn btn-default disabled">@i</a>
                    }
                    else
                    {
                        <a href="@Url.Action("Index", "Message", new { page = @i })" class="btn btn-default">@i</a>
                    }
                }
                <a class="btn disabled" style="color:#fff">...</a>
                <a href="@Url.Action("Index", "Message", new { page = Model.PageCount })" class="btn btn-default">@Model.PageCount</a>
            }
        </div>
    </div>
</div>